@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Playfair&display=swap');

:root {
    --lighting-color: #9bb0a3;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--lighting-color);
    font-family: 'Baloo 2', cursive;
    font-family: 'Playfair', serif;

}

nav {
    display: flex;
}

.logo {

    display: flex;
    align-items: center;

}

.logo img {
    padding: 0px 25px;
}

nav ul {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    /* list-style-type: disc; */
    list-style: none;
    list-style-position: inside;
    padding: 0px 15px;

}

nav ul li a {
    color: white;
    text-decoration: none;

}

nav ul li a:hover {
    color: rgb(9, 8, 8);
    font-weight: bold;

}

.search input {
    margin: 0 10px 0 40px;
    width: 30vw;
    height: 14px;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid #8e8e8e;
}

.search-btn {

    color: white;
    background-color: var(--lighting-color);
    padding: 4px 9px;
    border-radius: 3px;
    text-decoration: none;
    font-family: 'Baloo 2', cursive;
    font-family: 'Playfair', serif;
    font-weight: 500;
    font-size: medium;
}

.search-btn:hover {

    color: white;
    background-color: var(--lighting-color);
    padding: 4px 9px;
    border-radius: 3px;
    text-decoration: none;
    font-family: 'Baloo 2', cursive;
    font-family: 'Playfair', serif;
    font-weight: 1000;
    cursor: pointer;
    font-size: medium;

}

.container {
    min-height: calc(100vh - 50px - 12vh);


}

.slider {
    margin: 10px auto;
    width: 80vw;
    overflow: hidden;
}

.card {
    max-width: 90vw;
    margin: 37px 110px;
    /* background-color: aqua; */
}

.card-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 5px 5px 5px;
    border: 2px solid rgb(176, 168, 168);
    border-radius: 5px;
}

.card-item:hover {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    border: 2px solid rgb(176, 168, 168);
    border-radius: 5px;
    height: 220px;
    width: 220px;

}

.card h2 {
    font-family: 'Baloo 2', cursive;
    font-family: 'Playfair', serif;
    font-size: larger;
}

.lines {
    color: rgb(0, 0, 0);
}

footer {
    height: 12vh;
    background-color: var(--lighting-color);
    font-family: 'Baloo 2', cursive;
    font-family: 'Playfair', serif;
    font-size: x-large;
}